<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.dcu.buckley7mail.john.jbassign3" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".JB_Assign3"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhotoGallery"
            android:label="@string/title_activity_photo_gallery"
            android:parentActivityName=".JB_Assign3" >
            <intent-filter>
                <action android:name="android.media.action.IMAGE_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="image" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ie.dcu.buckley7mail.john.jbassign3.JB_Assign3" />
        </activity>
        <activity
            android:name=".RugbyCounter"
            android:label="@string/title_activity_rugby_counter"
            android:parentActivityName=".JB_Assign3" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ie.dcu.buckley7mail.john.jbassign3.JB_Assign3" />
        </activity>
        <activity
            android:name=".Email"
            android:label="@string/title_activity_email"
            android:parentActivityName=".RugbyCounter" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ie.dcu.buckley7mail.john.jbassign3.RugbyCounter" />
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>